# Defaults:
# https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern[]='*types*'
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='@prettier/plugin-*'
public-hoist-pattern[]='*prettier-plugin-*'

# Explicit additions:
public-hoist-pattern[]='tslib'
public-hoist-pattern[]='yorkie'
public-hoist-pattern[]='workbox-window'