// prettier-ignore
:root {
  color-scheme: light dark; /* both supported */
  
  --grey-40: #f8fafc;
  --grey-50: #dfe6ec;
  --grey-60: #94a3b8;
  --grey-70: #475569;
  --primary-50: #1fa8f4;
  --primary-40: #{lighten(#1fa8f4, 10%)};
  --aside-gradient-light: #f8fafb;
  --aside-gradient-dark: #dee6ed;
  --main-background: linear-gradient(0deg, #cdd9e5 0.39%, #ffffff 111.94%);
  --settings-background: #eef1f5;
  --settings-backdrop-color: #475569;
  --wheel-background: linear-gradient(330.65deg, #e2e8f0 13%, #f8fafc 92.84%);
  --wheel-shadow: -3px -3px 15px rgba(255, 255, 255, 0.7), 4px 6px 20px rgba(0, 0, 0, 0.2),inset -2px -4px 3px rgba(0, 0, 0, 0.05), inset 6px 4px 12px rgba(255, 255, 255, 0.54);
  --wheel-handle-background: #e5ebf0;
  --wheel-handle-shadow: -1.16575px -1.16575px 2.33149px rgba(0, 0, 0, 0.02),inset 1.16575px 1.16575px 4.66298px rgba(147, 147, 147, 0.4),inset -1.16575px -2.33149px 4.66298px rgba(255, 255, 255, 0.8);
  --progress-bar-background: var(--grey-40);
  --shadow-01: -2px -1px 4px #ffffff, 1px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-02: 2px 4px 6px rgba(0, 0, 0, 0.15), inset -1px -1px 1px rgba(71, 85, 105, 0.1),inset 1px 1px 2px #ffffff;
  --shadow-02-inset: inset 2px 4px 6px rgba(0, 0, 0, 0.15), inset -1px -1px 2px #ffffff;
  --switch-shadow: -1.20693px -1.20693px 2.41385px rgba(0, 0, 0, 0.02),inset 1.20693px 1.20693px 4.82771px rgba(147, 147, 147, 0.4),inset -1.20693px -2.41385px 4.82771px rgba(255, 255, 255, 0.8);
  --switch-button-shadow: 1.03533px 2.07065px 4.1413px rgba(0, 0, 0, 0.1);
}

// prettier-ignore
@mixin dark-theme {
  --grey-40: #526075;
  --grey-50: #3C4858;
  --grey-60: #C5D0DD;
  --grey-70: #EAF0F6;
  --primary-50: #2EB5FF;
  --primary-40: #{lighten(#2EB5FF, 10%)};
  --aside-gradient-light: #4e5c6e;
  --aside-gradient-dark: #374353;
  --main-background: linear-gradient(0deg, #374353 0.39%, #515E71 111.94%);
  --main-background-transparent: linear-gradient(0deg, transparent 70%, hsl(216deg 18% 35%) 100%);
  --settings-background: #445165;
  --settings-backdrop-color: #21252c;
  --wheel-background: linear-gradient(330.65deg, #495669 13%, #526075 92.84%);
  --wheel-shadow: -3px -3px 15px rgba(87, 110, 143, 0.5), 4px 6px 20px rgba(0, 0, 0, 0.4), inset -2px -4px 3px rgba(0, 0, 0, 0.2), inset 6px 4px 12px rgba(117, 136, 163, 0.5);
  --wheel-handle-background: #434F60;
  --wheel-handle-shadow: -1.16575px -1.16575px 2.33149px rgba(0, 0, 0, 0.13), inset 1.16575px 1.16575px 4.66298px rgba(51, 62, 76, 0.7), inset -1.17px -1.33px 1.66px rgba(159, 179, 198, 0.09);
  --progress-bar-background: #2B3440;
  --shadow-01: -1px -1px 2px rgba(148, 163, 184, 0.6), 1px 2px 4px rgba(51, 62, 76, 0.7);
  --shadow-02: 2px 4px 6px rgba(0, 0, 0, 0.2), inset -1px -1px 1px rgba(51, 62, 76, 0.7), inset 1px 1px 2px rgba(223, 230, 236, 0.3);
  --shadow-02-inset: inset 2px 4px 6px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(51, 62, 76, 0.7), inset -1px -1px 2px rgba(223, 230, 236, 0.3);
  --switch-shadow: -1.16575px -1.16575px 2.33149px rgba(0, 0, 0, 0.03), inset 1.16575px 1.16575px 4.66298px rgba(71, 85, 105, 0.7), inset -1.17px -1.33px 1.66px rgba(223, 230, 236, 0.09);
  --switch-button-shadow: 1.21739px 2.43478px 4.86957px rgba(71, 85, 105, 0.7);
}

[color-scheme="dark"] {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  [color-scheme="auto"] {
    @include dark-theme;
  }
}
